{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}

    <h1 class="text-center">Welcome to our App!</h1>
    <hr/>
    <br/>
    <h3 class="text-center mb-4">{{ pluralize(pins|length) }} in total: </h3>
    {% for row in pins | batch(3) %}
        <div class="row mb-4">
        {% for pin in row %}
            <article class="thumbnail col-4 shadow round">
                <div class="pic overflow-hidden">
                    <a href="{{path('app_pin_details', {id: pin.id})}}">

                        <img src="{{ vich_uploader_asset(pin) | imagine_filter('thumb_medium') }}" alt="{{ pin.title }}" class="w-100 rounded"/>
                    </a>
                </div>
                <a href="{{path('app_pin_details', {id: pin.id})}}" class="text-muted text-decoration-none text-secondary "><h5 class="pl-2 pt-4">{{ pin.title }}</h5></a>


                <p class="text-muted pl-2">Submitted by OWNER</p>
            </article>
        {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
